# Capacitor / Node
node_modules/
www/
# Android build outputs
android/.gradle/
android/build/
android/app/build/
android/capacitor-cordova-android-plugins/
android/local.properties
android/.idea/
android/app/src/main/assets/public/
android/app/src/main/assets/capacitor.config.json
android/app/src/main/assets/capacitor.plugins.json
*.apk
*.aab
# Firmas (nunca en el repo)
*.keystore
*.jks
